
@{
    ViewBag.Title = "Index";
}
<h3 style="text-align: center">
    Mantenimiento de Convocatoria a postores para Proveedores
</h3>
<br />
<form id="frmConvocatoriaIndex">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <label for="nroConvocatoria">N° Convocatoria</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm" id="nroConvocatoria" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <label for="fechaInicio">Fecha Inicio</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            @*<input type="datetime" class="form-control input-sm ui-datepicker date" id="fechaInicioIndex" readonly="readonly" />*@
                            <input type="text" class="form-control date" id="fechaInicioIndex" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding: 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <label for="fechaInicio" >Fecha Fin</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            @*<input type="datetime" class="form-control input-sm ui-datepicker date" id="FechaFinIndex" readonly="readonly" />*@
                            <input type="text" class="form-control date" id="FechaFinIndex" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding: 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <button type="button" class="btn btn-primary btn-sm" id="btnConsultar">Consultar <span class="glyphicon glyphicon-search"></span></button>
                    </div>
                    <div class="col-sm-8">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4" style="padding: 0px 0px 5px 0px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding: 0px">
                        <a href="@Url.Action("Nuevo", "Convocatoria")" class="btn btn-primary btn-sm" style="color: white;"> Nueva Convocatoria <span class="glyphicon glyphicon-file"></span></a>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="dgConvocatoriaProveedores"></table>
        </div>
    </div>
</form>
@section scripts{
    @*<script>
        var suspender = false;
    </script>*@
    <script src="~/Scripts/Convocatoria/Index.js"></script>
}

