<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Observacion <span class="glyphicon glyphicon-list-alt" style="vertical-align: top;"></span></h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <article class="row">
                    <form id="frmPartialObservacion">
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea id="txtAObservacion" rows="3" class=""></textarea>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            <button type="button" class="btn btn-primary" id="btnGuardarEstado">Agregar</button>
        </div>
    </div>
</div>

