
@{
    ViewBag.Title = "Index";
}
<h3 style="text-align: center">
    Historial de Proveedores
</h3>
<br />
<form>
    <div class="form-group row">
        <label for="rucIndex" class="col-sm-2">N° RUC</label>
        <div class="col-sm-2">
            <input type="text" class="form-control input-sm" id="rucIndex" />
        </div>
        <label for="razonSocialIndex" class="col-sm-2">Razón Social</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" id="razonSocialIndex" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" id="btnConsultar">Consultar</button>
        </div>
    </div>
    <article>
        <table id="dgProveedores"></table>
    </article>
</form>
@section scripts{
    @*<script>
            var suspender = false;
        </script>*@
    <script src="~/Scripts/Proveedor/Index.js"></script>
}


