
@{
    ViewBag.Title = "Historial";
}

<h2>Historial</h2>

<form id="frmHistorial">
    <div class="row">
        <div class="col-sm-12">
            <table id="dgHistorial"></table>
        </div>
    </div>
</form>
<script src="~/Scripts/Parametro/Historial.js"></script>

