@{
    ViewBag.Title = "Index";
}
<h3 style="text-align: center">
    Mantenimiento de Parametros
</h3>
<br />
<form>
     
    <div class="form-group row">
        <div class="col-sm-2">
            <a href="@Url.Action("Nuevo", "Parametro")" class="btn btn-primary" style="color: white;"><span class="glyphicon glyphicon-save" id="btnNuevo"></span> Nuevo</a>
        </div>
    </div>
    <article>
        <table id="dgParametros"></table>
    </article>
</form>
@section scripts{
    @*<script>
            var suspender = false;
        </script>*@
    <script src="~/Scripts/Parametro/Index.js"></script>
}

