
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Listado de Convocatorias</h2>
<form id="frmDetallesConvocatoria">
    <div class="row col-sm-12">
        <div class="panel-heading">Convocatoria</div>
        <article class="panel panel-primary">
            <div class="panel-heading">LISTADO DE CONVOCATORIAS</div>
            <div class="panel-body">
                <table id="dgListadoConvocatorias"></table>
            </div>
        </article>
    </div>
</form>
<script src="~/Scripts/Postulante/Index.js"></script>

