
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Listado de Convocatorias</h2>
<form id="frmDetallesConvocatoria">
    <div class="row col-sm-12">
        <table id="dgListadoConvocatorias"></table>
    </div>
</form>
<script src="~/Scripts/Postulante/Index.js"></script>

