@model DattatecPanel.Models.DTO.PostulanteDTO

@{
    ViewBag.Title = "Registrar Postulante";
}

<h2 class="text-center">Registrar Postulante</h2>
<form id="frmRegistrarPostulante">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        @Html.LabelFor(model => model.NumeroConvocatoria, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.NumeroConvocatoria, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NumeroConvocatoria, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-sm" id="btnDescargarRequisitos">Descargar Requisitos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <h4>Ingrese sus datos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
